.main{
    display: flex;
    flex:1;
    margin: 20px;
    padding: 5px;
}

.home{
    
    margin-top: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

    .home-header{
        height: 50vh;
        display: grid;
        grid-template-columns: 3fr 1.3fr;
        grid-gap: calc(12px + 0.5%);
        padding-bottom: calc(20px + 0.5%);
    }
    .home-header-aboutme,.home-header-scroll{
        transition: 0.3s ease;
        box-shadow: 1.5px 1.5px 3px 0.5px var(--shadow);
        background-color: var(--side-background-color);
        border-radius: 8px;
    }
        .home-header-scroll{

        }
        .home-header-aboutme{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: calc(10px + 1vw);
        }
            .aboutme-main{
                display: flex;
                flex-direction: column;
                align-items: center;

                min-width: 200px;
                width: 90%;
                height: 100%;
                
            }
                .user{
                    transition: 0.3s ease;
                    user-select: none;
                    background-color: var(--body-color);
                    width: 100%;
                    padding: calc(10px + 2%);
                    border-radius: 8px;
                
                        .user-main{
                            display: flex;
                            .user-avatar{
                                min-width: 60px;
                                min-height: 60px;
                                width: 6vw;
                                height: 6vw;
                                /* border: 1px solid gray; */
                                box-shadow: 2px 2px 5px 0px var(--shadow);
                                border-radius: 100px;
                                overflow: hidden;
                                img{
                                    max-width: 100%;
                                }
                            }
                            .user-ID{
                                line-height: 100%;
                                align-self: center;
                                flex:1;
                                text-align: center;
                                color: var(--main-color);
                                font-size: calc(5px + 1.6vw);
                                margin-right: calc(3px+0.5vw);
                            }
                            
                        }
                        .user-signature{
                            margin-top: calc(10px + 5%);
                            font-size: calc(3.5px + 0.6vw);
                            color: var(--font);
                            font-style: italic;
                        }

                }
                .user-data{
                    user-select: none;
                    margin-top: 0.6vw;
                    margin-bottom: 0.6vw;
                    width: 100%;
                    height: calc(20px + 12%);
                    border-radius: 8px;
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    .udata{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .data-title{
                            font-size: calc(5px + 1.2vw);
                            color: var(--font);
                        }
                        .data-text{
                            color: var(--font);
                            font-size: calc(10px + 1vw);
                            font-weight: 600;
                        }
                    }
                }
                .user-personal-center{
                    margin-bottom: 1vw;
                    padding-left: 5%;
                    padding-right: 5%;
                    width: 100%;
                    flex:1;
                    border-bottom: solid 0.5px var(--font);
                    color: var(--font);
                    font-size: 1.2vw;
                    display: flex;
                    align-items: center;
                    span{
                        flex:1;
                    }
                }
                .log-out{
                    transform: translateX(50%);
                    width: calc(60px + 30%);
                    height: calc(2px + 3vw);

                    border: solid var(--body-color);
                    border-radius: 8px;
                    display: flex;
                    color: var(--font);
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s ease;
                }
                .log-out:hover{
                    background-color: var(--warn);
                    color: var(--font-hover); 
                }
                
            

    .home-main{
        margin-top: calc(50px + 1vh);
        height: 60vw;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-gap: calc(15px + 2%);
    }
        .home-subDiv{
            transition: 0.3s ease;
            box-shadow: 1.5px 1.5px 3px 0.5px var(--shadow);
            background-color: var(--side-background-color);
            border-radius: 8px;
        }