:root{
    --body-color:#dff3f1;
    --side-background-color:white;
    --header-font-color:#39c5bb;
    --main-color:#39c5bb;
    --font:rgb(160, 160, 160);
    --font-hover:white;
    --button-off:rgb(177, 220, 217);
    --shadow:rgba(150, 150, 150, 0.4);
    --warn:rgb(248, 98, 98);
}
.dark{
    --body-color:rgb(37, 37, 37);
    --side-background-color:black;
    --header-font-color:white;
    --main-color:rgb(230, 230, 230);
    --font:rgb(230, 230, 230);
    --font-hover:black;
    --shadow:rgba(66, 66, 66, 0.4);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: 0.3s ease;
    display: flex;
}

.sideBar{
    position: fixed;
    padding: 20px;
    width: 250px;
    height: 100vh;
    background-color: var(--side-background-color);
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0 5px 0.5px var(--shadow);
}
.sideBarSpace{
    z-index: -1;
    width: 250px;
    transition: 0.3s ease;
}
.header{
    height: 60px;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    color:var(--header-font-color);
    font-size: 28px;
    font-weight:900;
    border-radius: 8px;
    background-color: var(--body-color);
    position: relative;
    user-select: none;
    transition: 0.3s ease;
}
.headerFonts{
    width: 100%;
    line-height: 25px;
    transition: opacity 0.3s ease;
}
.headerIcon{
    position: absolute;
    transition: opacity 0.3s ease;
    height: 50px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideBarSwitch{
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: var(--main-color);
    left:100%;
    top:50%;
    transform: translate(40%,-50%);
    border-radius: 12px;
    color:var(--side-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.3s ease;
}


.sideBarBody{
    padding-top: 10px;
    flex:1;

    position: relative;
    display: flex;
    flex-direction: column;
}
    .sideMenu{
        flex:1;
        
    }
        .subSideMenu{
            height: 50px;
            width: 100%;
            border-radius: 8px;
            transition: 0.3s ease;
            color: var(--font);
            font-weight: 600;
            overflow: hidden;

            font-size: 30px;
        }
        .subSideMenu:hover{
            background-color: var(--main-color);
            color:var(--font-hover)
        }
            .subSideMenuDiv{
                display: flex;
                align-items: center;
                height: 100%;
                width: 210px;
                user-select: none;
            }
                .subSideMenuDiv i{
                    width: 60px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .subSideMenuText{
                    padding-left: 8px;
                    font-size: 20px;
                    flex:1;
                }
                .dropDownMenuButton{
                    font-size: 20px;
                }
            .dropMenu{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                z-index: 2;
                padding-left: 18px;
                border-radius: 0 0 8px 8px;
                margin-bottom: 10px;
                transition: 0.3s ease;
                color: var(--font);
            }
                .subDropMenu{
                    height: 30px;
                    width: 100%;
                }

.containDM{
    margin-top:10px;
    transition: 0.3s ease;
    overflow: hidden;
    height: 50px;
    border-radius: 8px;
    position: relative;

}
.noneDM{
    margin-top:10px;
    position: relative;
}
    .selected{
        position: absolute;
        z-index: 50;
        width: 8px;
        background-color: var(--main-color);
        height: 100%;

        top:0%;
        right: 0%;
        transform: translateX(20px);
    }

    
.darkModeSwitch{
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    transition: 0.3s ease;
    color: var(--font);
    font-weight: 600;
    font-size: 30px;
    overflow: hidden;
    background-color: var(--body-color);
}
.darkModeSwitchButton:hover{
    background-color: var(--main-color);
}
.darkModeSwitchButton:hover .DMSButtonMain{
    background-color: var(--side-background-color);
}
.darkModeSwitchButton:hover .DMSButtonMainBall{
    background-color: var(--main-color);
}

    .darkModeSwitchButton{
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 8px 20px 8px;
        border-radius: 8px;
        transition: 0.3s ease;
    }
        .DMSButtonMain{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-color: var(--button-off);
            transition: 0.3s ease;
            display: flex;
            align-items: center;
            padding: 3px;
        }
            .DMSButtonMainBall{
                background-color: var(--side-background-color);
                height: 14px;
                width: 14px;
                border-radius: 7px;
                transition: 0.3s ease;
            }




.close{
    width: 100px;
}
.hidden{
    opacity: 0;
}
.overturn{
    transform: rotate(180deg);
}
.buttonMove{
    transform: translateX(24px);
}
.buttonOn{
    background-color: var(--main-color);
}
.dropDownOn{
    background-color: var(--body-color);
}
